project final.json
{
  "name": "project final",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "369d2d18-71bc-4b9a-abd2-0c605eb34f02",
      "name": "When chat message received",
      "webhookId": "c536d7a6-9e93-4775-9207-09629adeea0a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are AgriBot, an AI agriculture assistant.\n\nHelp farmers with:\n\n1. Crop Recommendation\n2. Fertilizer Recommendation\n3. Disease Detection\n4. Weather Information\n5. Market Prices\n\nRules\n\nIf user asks about weather\n→ Use Weather Tool.\n\nIf user asks which crop to grow\n→ Collect:\n\n• Soil Type\n• Season\n• Rainfall\n• Temperature\n• Water Availability\n\nThen call Crop Recommendation Tool.\n\nIf user asks fertilizer\n→ Call Fertilizer Tool.\n\nIf user uploads crop image\n→ Call Disease Detection Tool.\n\nAlways explain answers in simple English.\n\nGive practical farming advice.\n\nNever guess if information is missing. Ask follow-up questions.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        0
      ],
      "id": "7bde1bc3-c32c-4103-8019-5a6ae2c5b52d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-pro-image",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        224,
        224
      ],
      "id": "4fbaaf3b-109c-4b1c-9fd7-ded33d51c2f7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oLzR90Dl96jTGBPC",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=User:\nMy crop is cotton.\n\nLater...\n\nUser:\nShould I spray today?\n\nBot:\nSince you mentioned cotton, avoid spraying because rain is expected.",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        352,
        224
      ],
      "id": "dcd57cde-0d5a-4ef7-a525-1a9da01d1398",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Recommend crops based on:\n\nsoil type\nseason\nrainfall\ntemperature\nwater availability",
        "jsCode": "const soil = ($input.first().json.soil_type || \"\").toLowerCase();\nconst season = ($input.first().json.season || \"\").toLowerCase();\nconst rainfall = Number($input.first().json.rainfall || 0);\nconst temperature = Number($input.first().json.temperature || 0);\nconst water = ($input.first().json.water_availability || \"\").toLowerCase();\n\nlet crops = [];\n\nif (soil.includes(\"black\") && season === \"kharif\") {\n    crops.push({\n        crop: \"Cotton\",\n        reason: \"Black soil is ideal for cotton.\"\n    });\n\n    crops.push({\n        crop: \"Soybean\",\n        reason: \"Soybean grows well in black soil.\"\n    });\n}\n\nif ((soil.includes(\"clay\") || soil.includes(\"alluvial\")) && rainfall > 120) {\n    crops.push({\n        crop: \"Rice\",\n        reason: \"High rainfall supports rice cultivation.\"\n    });\n}\n\nif (season === \"rabi\" && temperature >= 15 && temperature <= 25) {\n    crops.push({\n        crop: \"Wheat\",\n        reason: \"Cool temperatures are ideal for wheat.\"\n    });\n}\n\nif (rainfall >= 50 && rainfall <= 100 && temperature >= 20 && temperature <= 30) {\n    crops.push({\n        crop: \"Maize\",\n        reason: \"Moderate rainfall and temperature suit maize.\"\n    });\n}\n\nif (crops.length === 0) {\n    crops.push({\n        crop: \"No recommendation\",\n        reason: \"Please provide complete farming information.\"\n    });\n}\n\nreturn [{ json: { recommended_crops: crops } }];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        480,
        224
      ],
      "id": "0e517d17-fb38-4f32-9d45-61252b7ebd98",
      "name": "Crop recommendation Tool",
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "Get current weather information.\n\nInput:\ncity\n\nOutput:\ntemperature\nhumidity\nweather\nwind speed",
        "url": "=https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "{{$fromAI(\"city\")}}"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "appid",
              "value": "a829fef98b229ebdb134359ad51374d5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        608,
        224
      ],
      "id": "d0769087-262a-488a-9f7a-41a7c2b2e02a",
      "name": "Weather tool"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type ",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n \"contents\":[\n  {\n   \"parts\":[\n    {\n     \"text\":\"Identify the disease from the uploaded crop image and recommend treatment.\"\n    }\n   ]\n  }\n ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        736,
        224
      ],
      "id": "9e7353e9-80e8-41e9-813e-ede13a1df982",
      "name": "Disease Detection"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1DNY0Kc4n0cMAv3_Zd07fKdmL2zlyhF6ZpWHgiNjjuak",
          "mode": "list",
          "cachedResultName": "market data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DNY0Kc4n0cMAv3_Zd07fKdmL2zlyhF6ZpWHgiNjjuak/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 971931544,
          "mode": "list",
          "cachedResultName": "MarketPrices",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1DNY0Kc4n0cMAv3_Zd07fKdmL2zlyhF6ZpWHgiNjjuak/edit#gid=971931544"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        224
      ],
      "id": "c8db91b6-6895-45d0-9955-101420a683e5",
      "name": "Market price Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a79mLj6CXg5CKQGz",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crop = ($input.first().json.crop || \"\").toLowerCase();\n\nlet fertilizer = \"\";\n\nif(crop===\"rice\")\nfertilizer=\"Urea + DAP\";\n\nelse if(crop===\"cotton\")\nfertilizer=\"NPK 20:20:20\";\n\nelse if(crop===\"wheat\")\nfertilizer=\"DAP\";\n\nelse\nfertilizer=\"Consult Agriculture Officer\";\n\nreturn [{\njson:{\nfertilizer\n}\n}];"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        992,
        224
      ],
      "id": "8877f3c3-0ab4-45ff-9d6a-5c07ac299e6c",
      "name": "Fertilization Suggestion"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14QKVibuUKLOcSzxS2omo99xobmlY83ExUfX8uD1fv1g",
          "mode": "list",
          "cachedResultName": "farmersdata",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14QKVibuUKLOcSzxS2omo99xobmlY83ExUfX8uD1fv1g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1349294948,
          "mode": "list",
          "cachedResultName": "Farmers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14QKVibuUKLOcSzxS2omo99xobmlY83ExUfX8uD1fv1g/edit#gid=1349294948"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1120,
        224
      ],
      "id": "1a967444-dc77-47a6-854f-debab0c5e590",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a79mLj6CXg5CKQGz",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Crop recommendation Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Weather tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Disease Detection": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Market price Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fertilization Suggestion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f7db6559-0570-4680-8d04-f9b78e3e4750",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5598c936d6a0d464327d671ceb6fc832d4e6e6915a4d7cd3f0836883d1a34456"
  },
  "nodeGroups": [],
  "id": "IuGopo660XgMDgoX",
  "tags": []
}